.create-new-group {
  padding: 30px;
}

.form-fields-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* LADO A LADO EM TELAS GRANDES */
@media (min-width: 1024px) {
  .form-fields-row {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }

  .form-item {
    flex: 1;
    max-width: 300px;
  }
}
