.default-btn {
  padding: 12px 24px;
  background-color: #5865f2;
  color: white;
  border: none;
  border-radius: 4px;
  /* cursor: loading ? "not-allowed" : "pointer"; */
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  /* // alignSelf: "flex-end"; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: fit-content;
}
